table {
    border-spacing: 4px;

    tr {
        cursor: pointer;

        &:nth-child(even) {
            background-color: #f2f2f2;
        }

        &.in-playlist {
            background-color: #98fb98;
        }
        &.selected {
            background-color: #ff7f50;
        }
    }
}