@import './common/base.scss';
@import './common/palette.scss';

@import './components/SongList.scss';

.btn-action {
    background: rgb(85, 151, 40);
    
    &[disabled] {
        background: rgb(105, 112, 96);
    }
}
